div.app {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-direction: column;
  min-height: 100vh;
  color: #222;
}

header {
  flex-basis: 30vh;
}

main {
  padding: 30px 0;
  flex-grow: 1;
  display: flex;
}

footer {
  color: white;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: #333;
  margin-bottom: 50px;
}

aside {
  min-width: 240px;
}

section.page {
  flex-grow: 1;
}
